.vscode/
Android/.idea/
Android/*.iml
Android/app/*.iml
Android/local.properties
Android/.gradle
RPi/__pycache__/
JavaGuiApp/.idea/libraries/lib.xml
Algorithm/src/src.iml
Algorithm/out/production/Algorithm/src.iml
Algorithm/out/production/Algorithm/Robot/RobotSensors.class
Algorithm/out/production/Algorithm/Robot/RobotSensors$1.class
Algorithm/out/production/Algorithm/Robot/RobotConstants.class
Algorithm/out/production/Algorithm/Robot/Robot.class
Algorithm/out/production/Algorithm/Robot/RoboCmd.class
Algorithm/out/production/Algorithm/Robot/RoboCmd$ArduinoCtrl.class
Algorithm/out/production/Algorithm/Robot/RoboCmd$AndroidCtrl.class
Algorithm/out/production/Algorithm/Map/mapObjectSurface.class
Algorithm/out/production/Algorithm/Map/MapGrid.class
Algorithm/out/production/Algorithm/Map/MapDirections.class
Algorithm/out/production/Algorithm/Map/MapConstants.class
Algorithm/out/production/Algorithm/Map/Map.class
Algorithm/out/production/Algorithm/Main/Simulator.class
Algorithm/out/production/Algorithm/Algorithm/FastestPath.class
Algorithm/out/production/Algorithm/Algorithm/Exploration.class
Algorithm/.idea/libraries/lib.xml
Algorithm/Algorithm.iml
JavaGuiApp/.idea/workspace.xml
JavaGuiApp/.idea/misc.xml
Algorithm/out/production/Algorithm/Robot/RobotData.class
Algorithm/out/production/Algorithm/Robot/Robot$1.class
Algorithm/out/production/Algorithm/Network/Wifi.class
Algorithm/out/production/Algorithm/Map/Map$1.class
Algorithm/out/production/Algorithm/META-INF/Algorithm.kotlin_module
Algorithm/out/production/Algorithm/Gui/Main.class
Algorithm/out/production/Algorithm/Gui/Main$4.class
Algorithm/out/production/Algorithm/Gui/Main$3.class
Algorithm/out/production/Algorithm/Gui/Main$2.class
Algorithm/out/production/Algorithm/Gui/Main$1.class
Algorithm/out/production/Algorithm/Gui/GuiTimer.class
Algorithm/out/production/Algorithm/Gui/GuiTabView.class
Algorithm/out/production/Algorithm/Gui/GuiTabView$2.class
Algorithm/out/production/Algorithm/Gui/GuiTabView$1.class
Algorithm/out/production/Algorithm/Gui/GuiMap.class
Algorithm/out/production/Algorithm/Gui/GuiLogger.class
Algorithm/out/production/Algorithm/Gui/GuiLoader.class
Algorithm/out/production/Algorithm/Gui/GuiLabelButton.class
Algorithm/out/production/Algorithm/Gui/GuiGroupButton.class
Algorithm/out/production/Algorithm/Gui/GuiButton.class
Algorithm/out/production/Algorithm/Gui/Command.class
JavaGuiApp/out/production/JavaGuiApp/Network/Wifi.class
JavaGuiApp/out/production/JavaGuiApp/META-INF/JavaGuiApp.kotlin_module
JavaGuiApp/out/production/JavaGuiApp/Gui/Main.class
JavaGuiApp/out/production/JavaGuiApp/Gui/Main$4.class
JavaGuiApp/out/production/JavaGuiApp/Gui/Main$3.class
JavaGuiApp/out/production/JavaGuiApp/Gui/Main$2.class
JavaGuiApp/out/production/JavaGuiApp/Gui/Main$1.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiTimer.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiTabView.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiTabView$2.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiTabView$1.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiMap.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiLogger.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiLoader.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiLabelButton.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiGroupButton.class
JavaGuiApp/out/production/JavaGuiApp/Gui/GuiButton.class
JavaGuiApp/out/production/JavaGuiApp/Gui/Command.class
JavaGuiApp/.idea/vcs.xml
JavaGuiApp/JavaGuiApp.iml
Algorithm/out/production/Algorithm/Map/MapDescriptor.class
Algorithm/out/production/Algorithm/Network/ServerSim.class
Algorithm/out/production/Algorithm/Network/RequestHandler.class
Algorithm/out/production/Algorithm/Network/NetworkManager.class
Algorithm/out/production/Algorithm/Network/NetworkConstants.class
Algorithm/out/production/Algorithm/Main/SimulatorNew.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$ImageTask.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$FastTask.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$ExplorationTask.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$9.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$8.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$7.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$6.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$5.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$4.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$3.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$2.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$19.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$18.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$17.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$16.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$15.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$14.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$13.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$12.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$11.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$10.class
Algorithm/out/production/Algorithm/Main/SimulatorNew$1.class
Algorithm/out/production/Algorithm/Helper/PrintManager.class
Algorithm/out/production/Algorithm/Helper/DisplayTimer.class
Algorithm/out/production/Algorithm/Gui/GuiMap$2.class
Algorithm/out/production/Algorithm/Gui/GuiMap$1.class
Algorithm/out/production/Algorithm/Algorithm/ImageRecognition.class
Algorithm/out/production/Algorithm/Algorithm/Exploration2.class
Algorithm/out/production/Algorithm/Algorithm/Exploration2$1.class
Algorithm/out/production/Algorithm/Algorithm/Exploration$1.class
Algorithm/.idea/uiDesigner.xml
Algorithm/.idea/libraries/json_20180813_javadoc.xml
Algorithm/out/production/Algorithm/Main/Simulator$FastTask.class
Algorithm/out/production/Algorithm/Main/Simulator$ExplorationTask.class
Algorithm/out/production/Algorithm/Main/Simulator$9.class
Algorithm/out/production/Algorithm/Main/Simulator$8.class
Algorithm/out/production/Algorithm/Main/Simulator$7.class
Algorithm/out/production/Algorithm/Main/Simulator$6.class
Algorithm/out/production/Algorithm/Main/Simulator$5.class
Algorithm/out/production/Algorithm/Main/Simulator$4.class
Algorithm/out/production/Algorithm/Main/Simulator$3.class
Algorithm/out/production/Algorithm/Main/Simulator$2.class
Algorithm/out/production/Algorithm/Main/Simulator$19.class
Algorithm/out/production/Algorithm/Main/Simulator$18.class
Algorithm/out/production/Algorithm/Main/Simulator$17.class
Algorithm/out/production/Algorithm/Main/Simulator$16.class
Algorithm/out/production/Algorithm/Main/Simulator$15.class
Algorithm/out/production/Algorithm/Main/Simulator$14.class
Algorithm/out/production/Algorithm/Main/Simulator$13.class
Algorithm/out/production/Algorithm/Main/Simulator$12.class
Algorithm/out/production/Algorithm/Main/Simulator$11.class
Algorithm/out/production/Algorithm/Main/Simulator$10.class
Algorithm/out/production/Algorithm/Main/Simulator$1.class
Algorithm/out/production/Algorithm/Robot/RobotCamera.class
Algorithm/out/production/Algorithm/Robot/RobotCamera$1.class
Algorithm/out/production/Algorithm/Algorithm/ImageRecognition$1.class
Algorithm/out/production/Algorithm/Algorithm/OldFastestPath.class
Algorithm/out/production/Algorithm/Algorithm/OldExploration.class
Algorithm/out/production/Algorithm/Algorithm/OldExploration$1.class
Algorithm/.idea/libraries/lib1.xml
Algorithm/hs_err_pid12940.log
